ul.bookmarks {
  list-style: none;
}

ul.bookmarks li {
  margin-bottom: 5px;
  border-bottom: 1px solid #ddd;
  padding: 5px;
}

ul.bookmarks a {
  margin-right: 10px;
}

.likes {
  width: 30px;
  margin-right: 3px;
}

header h3 {
  line-height: 3em;
}

.icon-thumbs-up {
  color: #999;
  cursor: pointer;
}

.bookmarks em {
  color: #666;
  font-size: 11px;
}

.icon-trash {
  color: #c6c6c6;
  cursor: pointer;
}

.icon-trash:hover {
  color: #666;
}